<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Ordr: Rstaurant Mnu Systm</title>

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <div class="row">
        <div class="twelve columns">
          <h1>Ordr</h1>
          <hr>
          <p>{{ outlet }}</p>
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="index">
      Hello, Ember!
    </script>

    <script type="text/x-handlebars" data-template-name="tables">
      <div class="row">
        <div class="four columns" id="tables">
          {{ partial "tableMenu" }}
        </div>
        <div class="eight columns" id="order">
          {{ outlet }}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="tables/index">
      <h2>Please select a table</h2>
    </script>

    <script type="text/x-handlebars" data-template-name="_tableMenu">
      <h2>Tables</h2>
      {{#each table in controller}}
        {{#linkTo "table" table class="panel six columns"}}{{ table.id }}{{/linkTo}}
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="table">
      <div class="row">
        <div class="three columns">
          {{ render "food" }}
        </div>
        <div class="nine columns">
          <h2>Table <span>{{id}}</span></h2>
          {{ render "tab" tab }}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="tab">
      <ul id="customer-tab">
        {{#each tabItem in tabItems}}
          <li>
            <h3>
              {{ tabItem.food.name }}
              <span>${{ money tabItem.cents }}</span>
            </h3>
          </li>
        {{else}}
          <li><h3>Click a food to add it</h3></li>
        {{/each}}
        <li id="total"><h3>Total <span>${{ money cents }}</span></h3></li>
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="food">
      <ul id="menu">
        {{#each controller}}
          <li>
            <a href="#" {{ action "addFood" this }}>
              <img {{ bindAttr src="imageUrl" }}>
              <p>{{ name }} <i>${{ money cents }}</i></p>
            </a>
          </li>
        {{/each}}
      </ul>
    </script>

    <script src="js/libs/jquery-1.8.3.min.js"></script>
    <script src="js/libs/handlebars-1.0.0.rc.2.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
